
/* changa-one-regular - latin */
@font-face {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/changa-one-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/changa-one-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/changa-one-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/changa-one-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/changa-one-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/changa-one-v16-latin-regular.svg#ChangaOne') format('svg'); /* Legacy iOS */
}




/*******************************************
               STYLES GENERAUX
********************************************/


body
{
    font-family: 'Changa One'
    background-color: #fdfffc;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    color: #011627;
}


h1
{
    font-size : 2rem;
    margin-bottom: 1em;
}

h2
{
    font-size : 1.5rem;
    margin-bottom: 0.75em;
}

p
{
    line-height: 1.5;
}

a
{
    color: red;
    text-decoration: none;
}

img
{
    max-width: 100%;
    height: auto;
    width: auto;
}


/***********************************************
                 ENTÊTE DU SITE
************************************************/
 header
 {
     text-align: center;
     background-color: #011627;
     padding-top: 5px;
     margin-bottom: 3opx;
 }

 header .nom
 {
     color: #2ec4b6;
     font-size: 1.75rem;
     font-family: 'Changa One', cursive;
     font weight: 400;
     line-height: 0.8;
     margin-top: 1rem;
     margin-bottom: 1rem;
     padding: 10px;
     margin: 1rem 0;
 }

 header .metier
 {
     margin-top: -5px;
     font-weight: bold;
 }

 header nav
 {
     padding: 10px 0;
     margin: 20px 0 0;
 }

 header nav ul
 {
     list-style-type: none;
     padding: 0;
     margin: 0 10px;
 }

header nav ul li
{
display: inline;
}

header nav ul li.accueil
{
    display: none;
}


header nav ul li a
{
   color: #fdfffc;
    font-weight: bold;
    padding: 15px 15px;
    transition: color 1s;
}

/* Lorsque que le lien est survoler il devient bleue */
header nav ul li a:hover
{
    color: #2ec4b6;
}


/***********************************************
                 PAGE INFORMATION
************************************************/

.page-information main img
{
    border-radius: 50%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

.page-informatin h1
{
    text-align: center;
}


/***********************************************
                 Pied de page du site
************************************************/

footer
{
    text-align: center;

    padding-top: 50px;
}

footer nav
{
    margin-bottom: 1rem;
}

footer nav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

footer nav ul li
{
    display: inline-block;
}

footer nav ul li img
{
    width: 50px;
    margin: 0 15px; /* 0 haut/bas  et 15px gauche droite */
    filter: grayscale(100);  /* grise l'image */
    transition: filter 500ms ease-out; /* temps du degrisement */
}


footer nav ul li img:hover
{
    filter: grayscale(0);  /* Degrise l'image */
}